body {
    background-color: #232323;
    color: aliceblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30px;
    animation: alternate 5s colorChange infinite;
}

@keyframes colorChange {
    from {
        background-color: rgb(19, 19, 19);
    }

    to {
        background-color: rgb(38, 38, 38);
    }
}

h1 {
    font-size: 3.7vw;
    text-decoration: underline;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 0, 65, 0.9500175070028011) 32%, rgb(17, 117, 136) 100%);
    margin-left: 4.5%;
    margin-right: 4.5%;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2.5vw;
}

h4 {
    font-style: italic;
}

hr {
    margin: 4.5%;
}

p {
    font-size: 1.5vw;
    margin: 0% 15%;
}

a {
    color: inherit;
}

iframe {
    border: none;
    width: 1154px;
    height: 866px;
    margin: 2% 0;
}

#resume {
    width: 760px;
    height: 1013px;
    margin: 0%;
}

#resume-link {
    display: none;
}

@media only screen and (min-width: 2300px) {
    iframe {
        width: 1920px;
        height: 1440px;
    }
}

@media only screen and (min-width: 1600px) {
    iframe {
        width: 1440px;
        height: 1080px;
    }

    h1 {
        font-size: 3.1vw;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1.7vw;
    }

    p {
        font-size: 1.3vw;
        margin: 0% 15%;
    }

    h4 {
        font-size: 2vw;
    }

    #resume {
        display: none;
    }

    #resume-link {
        display: block;
    }

    #website-link {
        display: none;
    }

    #the-ringer-link {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    h2 {
        font-size: 3.5vw;
    }

    h4 {
        font-size: 2.5vw;
    }

    hr {
        margin: 6.5%;
    }

    p {
        font-size: 2.5vw;
    }

    a {
        margin: 0;
    }

    #the-ringer,
    #website {
        display: none;
    }

    #resume {
        width: 700px;
        height: 880px;
        margin: 0%;
    }

    #resume-link {
        display: none;
    }

}

@media only screen and (max-width: 700px) {
    h2 {
        font-size: 4.5vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    p {
        font-size: 3.5vw;
    }

    iframe {
        display: none;
    }

    #resume-link {
        display: block;
    }

    #post-resume-line {
        margin-top: 4%;
    }

    #website-link {
        display: block;
    }

    #the-ringer-link {
        display: block;
    }

}