body {
    background-color: #232323;
    color: aliceblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 5vw;
}

p {
    font-size: 1.5vw;
    margin: 0% 10%;
}

a {
    color: inherit;
}

iframe {
    border: none;
    width: 90%;
    height: 1013px;
}

#resume {
    width: 760px;
    height: 1013px;
}